<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
    <!-- 공통적으로 들어가는 부분 가져오는 코드 -->
    <head th:insert="~{include/head.html}"></head>

    <!-- 타이틀 수정 및 자기 html의 head에 추가한 것 추가하기 -->
    <title>먹스플로어</title>

	<!-- <script type="text/javascript" th:src="@{/js/upload.js}"></script>	 -->
	<link th:href="@{/css/upload.css}" rel="stylesheet" />
	<link th:href="@{/css/rev_write.css}" rel="stylesheet" />

	<script type="text/javascript" th:src="@{/js/writeupload.js}"></script>	

    </head>
    
    <script>

    function updateStarValue() {
        var stars = document.querySelectorAll('.star');
        var ratingInput = document.getElementById('starInput');

        stars.forEach(star => {
          star.addEventListener('click', function() {
            var value = this.getAttribute('data-value');
            stars.forEach((star, index) => {
              if (5 - index <= value) {
                stars[index].classList.add('active');
              } else {
                stars[index].classList.remove('active');
              }
            });
            ratingInput.value = value;
          });
        });
    }

    window.onload = function() {
        updateStarValue();
    };
    
    </script>

    <body>
        <!-- Navigation-->
        <nav th:insert="~{include/nav.html}"></nav>
        
        <div class="contentbox" >
            <div id="backgroundbanner"></div>
            <div class="bodycontent">
			<div class="content" style="display: flex;justify-content: center;padding-top: 40px;">
			<div style="text-align: left;">
               <h5>리뷰를 작성해주세요!</h5>
               <div>
			<div>
			        <h1 th:text="${rst_name}"></h1>
			        <br>
			        <form th:action="@{/rst/write}" method="post" enctype="multipart/form-data">
					    <div>
					        <input type="text" name="rev_title" placeholder="리뷰 제목" required/>
					    </div>
					    <div>
						    <div class="star-rating" >
						        <span class="star" data-value="5">&#9733;</span>
						        <span class="star" data-value="4">&#9733;</span>
						        <span class="star" data-value="3">&#9733;</span>
						        <span class="star" data-value="2">&#9733;</span>
						        <span class="star" data-value="1">&#9733;</span>
						    </div>
					    	<input type="hidden" th:value="${rev_star}" name="rev_star" id="starInput" />
						</div>

					    <div>
					        <textarea rows="6" cols="50" name="rev_comment" placeholder="리뷰 내용" required></textarea>
					    </div>
						<div>사진은 최대 4개까지 업로드 가능합니다.</div>

						<div class="forupload">
				            <!-- <input type="file" name="files" id="files" onchange="setThumbnail(event);" accept="image/*" multiple />  -->
							<input type="file" name="files" id="files" accept="image/*" multiple /> 

							<div class="uploadResult">
								<ul>

								</ul>
							</div>
							<div id="response"></div>

					    <div style="text-align: right;">					    
					    	<button type="submit" id="writeBtn">작성</button>
					    </div>
						</div>

			            <input type="hidden" name="rst_name" th:value="${rst_name}" />
    					<input type="hidden" name="rst_id" th:value="${rst_id}" />

					</form>
			</div>
              </div>
			</div>
            </div>
           </div>
           </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

		<script>
			$(document).ready(function() {

			  $("input[type='file']").on("change", function() {

				//파일 최대 사이즈 제한
				var maxFileSize = 10 * 1024 * 1024; // 10MB (허용하는 최대 파일 크기)

				// 선택한 파일 목록을 가져옴
				var files = this.files;

				if (files.length > 4) {
					alert("파일은 최대 4개까지 선택할 수 있습니다.");
					// 파일 입력(input) 초기화
					$(this).val("");
					return;
				}
				
				// 파일 크기를 확인하고 초과하는 파일이 있는지 검사
				for (var i = 0; i < files.length; i++) {
					console.log("-------"+files[i].size);

					if (files[i].size > maxFileSize) {
						alert("파일의 크기가 허용한 최대 크기(10MB)를 초과했습니다.");
						// 파일 입력(input) 초기화
						$(this).val("");
						return;
					}
				}

				var uploadUL = $(".uploadResult ul");
                uploadUL.empty();
		  
				for (var i = 0; i < files.length; i++) {
				  var reader = new FileReader();
		  
				  reader.onload = function(event) {

					var liElement = $("<li>");
					var divElement = $("<div>");

					var imgElement = $("<img>");
					imgElement.attr("src", event.target.result);

					divElement.append("<br>").append(imgElement);
                    liElement.append(divElement);
                    uploadUL.append(liElement);

				  };
		  
				  console.log(files[i]);
				  reader.readAsDataURL(files[i]);
				}
			  });//end change

			  

			  
			});
		  </script>
	

    </body>
</html>