<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <!-- 공통적으로 들어가는 부분 가져오는 코드 -->
    <head th:insert="~{include/head.html}"></head>

    <!-- 타이틀 수정 및 자기 html의 head에 추가한 것 추가하기 -->
    <title>회원가입</title>

    <link th:href="@{/css/findIdForm.css}" rel="stylesheet" />

    <script>
      $(document).ready(function() {
          var errorParam = getParameterByName('error');
          if (errorParam === 'true') {
              alert('일치하는 회원이 존재하지 않습니다.');
          }
      });
      
      function getParameterByName(name) {
          name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
          var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
          var results = regex.exec(location.search);
          return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
      }
      </script>
      

    </head>
    <body style="overflow: auto;">
        <!-- Navigation-->
        <nav th:insert="~{include/nav.html}"></nav>

        
        <div class="contentbox">
            <div id="backgroundbanner"></div>
            <div class="bodycontent" style="padding: 30px 50px; width: 820px;">
              <h2 class="titletext" >아이디 찾기</h2>
       
              <form id="findIdForm" th:action="@{/member/findId}" method="POST">
                <input type="text" id="user_name" name="user_name" placeholder="이름" required>
                <br>
                <input type="text" id="user_phone" name="user_phone" placeholder="전화번호" required>
                <br>
                <input type="submit" class="btn btn-primary" name="loginbtn" value="아이디 찾기"
                style=" margin-top: 35px; background-color: #ff8100; border: 1px solid #ff8100;">
                <br>
              </form>
              <div style=" margin-right: 37px; margin-top: 10px; ">
                <a th:href="@{/member/findPwForm}" style="margin-right: 30px;">비밀번호 찾기</a>
                <span>|</span>
                <a th:href="@{/member/loginform}" style="margin-left: 30px;">로그인</a>
              </div>

            </div>
        </div>

        <script type="text/javascript"> 
          function gofindpw(){            
            window.location.href = "findPwForm";
          }

        </script>

      <!-- body 위에 삽입되는 공통 부분 추가하는 코드 -->
      <div th:insert="~{include/footer.html}"></div>
    </body>
</html>
