<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <!-- 공통적으로 들어가는 부분 가져오는 코드 -->
    <head th:insert="~{include/head.html}"></head>

    <!-- 타이틀 수정 및 자기 html의 head에 추가한 것 추가하기 -->
    <title>회원가입</title>

    <link th:href="@{/css/find.css}" rel="stylesheet" />

    </head>
    <body style="overflow: auto;">
        <!-- Navigation-->
        <nav th:insert="~{include/nav.html}"></nav>

        
        <div class="contentbox">
            <div id="backgroundbanner"></div>
            <div class="bodycontent" style="padding: 30px 50px; width: 820px;">
              <h2 class="titletext" >회원 가입 완료!</h2>
              <div class="result" style="width: 590px !important;">
                <span style="font-size: 22px;">먹스플로어에 오신 걸 환영합니다!<br>
                  먹스플로어에서 회원님만의 맛집 탐험을 시작해보세요!
                </span> 

              </div>  
              <div>
              <button id="orangebtn" onclick="gologinform()">로그인</button>
              </div> 

            </div>
        </div>

        <script type="text/javascript"> 
          function gofindpw(){            
            window.location.href = "findPwForm";
          }
          function gologinform(){            
            window.location.href = "loginform";
          }
        </script>

      <!-- body 위에 삽입되는 공통 부분 추가하는 코드 -->
      <div th:insert="~{include/footer.html}"></div>
    </body>
</html>
