<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <!-- 공통적으로 들어가는 부분 가져오는 코드 -->
    <head th:insert="~{include/head.html}"></head>

    <!-- 타이틀 수정 및 자기 html의 head에 추가한 것 추가하기 -->
    <title>회원가입</title>

    <link th:href="@{/css/joinform.css}" rel="stylesheet" />

    </head>
    <body style="overflow: auto;">
        <!-- Navigation-->
        <nav th:insert="~{include/nav.html}"></nav>

        
        <div class="contentbox">
            <div id="backgroundbanner"></div>
            <div class="bodycontent" style="padding: 50px 50px;">
              <div style="width: 1000px; margin: auto;">
                <h2 class="titletext" >회원 가입</h2>
                <form id="memberJoinForm" th:action="@{/member/join}" method="POST">
                  <table>
                    <tr>
                      <th style="padding-top: 15px;">아이디*</th>
                      <td style="display: flex;padding-top: 10px;flex-wrap: wrap;">
                        <input type="text" id="user_email" name="user_email" placeholder="이메일 형식으로 입력해주세요." title="아이디입력" required>
                        <button id="idsamebtn">중복확인</button><br>
                        <span id="idsamemesg"></span>
                      </td>
                    </tr>
                    <tr>
                      <th>비밀번호*</th>
                      <td>
                        <input type="password" id="pw" name="pw" placeholder="영문 대소문자/숫자/특수문자, 8~16자" required>
                      </td>                  
                    </tr>
                    <tr>
                      <th>비밀번호 확인*</th>
                      <td style="display: flex;">
                        <input type="password" id="pwcheck" name="pwcheck" placeholder="비밀번호를 한번 더 입력해주세요." title="아이디입력" required>
                        <span id="pwsamechk"></span>
                      </td>                  
                    </tr>
                    <tr>
                      <th>닉네임*</th>
                      <td style="display: flex; flex-wrap: wrap;">
                        <input type="text" id="nickname" name="nickname" placeholder="닉네임" required>
                        <button id="namesamebtn">중복확인</button><br>
                        <span id="namesamemesg"></span>
                      </td>                  
                    </tr>
                    <tr>
                      <th>이름*</th>
                      <td>
                        <input type="text" id="user_name" name="user_name" placeholder="이름" required>
                      </td>                  
                    </tr>
                    <tr>
                      <th>주소*</th>
                      <td class="addr">
                        <input type="text" id="user_post" name="user_post" placeholder="우편번호" required>
                        <input type="button" id="btn" onclick="posdtcode()" value="우편번호 찾기" required><br>
                        <input type="text" id="user_addr1" name="user_addr1"  placeholder="기본 주소" required>
                        <input type="text" id="user_addr2" name="user_addr2" placeholder="나머지 주소" style="margin-bottom: 0px;">
                        <span id="guide" style="color:#999"></span>
                      </td>                  
                    </tr>
                    <tr style="border-bottom: none;">
                      <th style="padding-bottom: 15px;">휴대폰 번호*</th>
                      <td style="padding-bottom: 10px;">
                        <input type="text" id="user_phone" name="user_phone" placeholder="휴대폰 번호" required>
                      </td>                  
                    </tr>
                  </table>
                  <input type="submit" class="btn btn-primary" name="joinbtn" value="회원가입"
                  style=" margin-top: 30px; background-color: #ff8100; border: 1px solid #ff8100; width: 200px; font-size: 20px;">

                </form>

              </div>
            </div>

        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
        <script>
            //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
            function posdtcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
        
                        // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                        var extraRoadAddr = ''; // 도로명 조합형 주소 변수
        
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraRoadAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                           extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraRoadAddr !== ''){
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                        }
                        // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                        if(fullRoadAddr !== ''){
                            fullRoadAddr += extraRoadAddr;
                        }
        
                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('user_post').value = data.zonecode; //5자리 새우편번호 사용
                        document.getElementById('user_addr1').value = fullRoadAddr;
        
                        // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                        if(data.autoRoadAddress) {
                            //예상되는 도로명 주소에 조합형 주소를 추가한다.
                            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                            document.getElementById('guide').innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
        
                        } else if(data.autoJibunAddress) {
                            var expJibunAddr = data.autoJibunAddress;
                            document.getElementById('guide').innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
        
                        } else {
                            document.getElementById('guide').innerHTML = '';
                        }
                    }
                }).open();
            }
        </script>
            <script type="text/javascript"> 
              let idAvailable = false; // 아이디 중복 여부
              let nicknameAvailable = false; // 닉네임 중복 여부
              let duplicationid = ""; //아이디 변경 여부
              let duplicationNick = ""; //닉네임 변경 여부 

              let dupclick = false;
              // let idchange = false;

              $("#user_email").on("change", function() {
                dupclick = false;
                console.log("아이디 바뀜");
              });


              let pwdMatch = false; // 비밀번호 일치 여부
            
                 //아이디 중복 체크
                $("#idsamebtn").on("click", function(e){
                  e.preventDefault(); // 폼 서브밋 방지
                  
                  let user_email = $("#user_email").val();
                  dupclick = true;
                  console.log(user_email+"---"+dupclick);

                  if(user_email !== ""){

                    $.ajax({
                      url:'idCheck',
                      type:"get",
                      dataType:"text",
                      data: { user_email: user_email },
                      success:function(data,status,xhr){
                        console.log(data);
                        if(data == '0'){
                          $("#idsamemesg").text('이미 존재하는 아이디입니다.');
                          $("#idsamemesg").css("color", "red");
                          idAvailable = false;
                        }else if(data == '1'){
                          $("#idsamemesg").text('사용 가능한 아이디입니다.');
                          $("#idsamemesg").css("color", "black");
                          duplicationid = user_email;
                          idAvailable = true;
                          console.log("아이디 중복 확인 성공");
                        }
                        //checkSubmit();

                      },
                      error:function(xhr, status, error){
                        
                      }
                    });//end ajax
                  }
                });//end 
                
                //닉네임 중복 체크
                 $("#namesamebtn").on("click", function(e){     
                  e.preventDefault(); // 폼 서브밋 방지
         
                  let nickname = $("#nickname").val();
                  console.log(nickname);

                  if(nickname !== ""){

                  $.ajax({
                    url:'nameCheck',
                    type:"get",
                    dataType:"text",
                    data: { nickname: nickname },
                    success:function(data,status,xhr){
                      console.log(data);
                      if(data == '0'){
                        $("#namesamemesg").text('이미 존재하는 닉네임입니다.');
                        $("#namesamemesg").css("color", "red");
                        nicknameAvailable = false;
                      }else if(data == '1'){
                        $("#namesamemesg").text('사용 가능한 닉네임입니다.');
                        $("#namesamemesg").css("color", "black");
                        duplicationNick = nickname;
                        nicknameAvailable = true;
                      }
                      //checkSubmit();
                    },
                    error:function(xhr, status, error){
                      
                    }
                  });//end ajax
                }
                });//end 

                // 비밀번호와 비밀번호 확인 필드의 값이 변경될 때마다 확인
                $("#pw, #pwcheck").on("input", function() {
                  var pw = $("#pw").val();
                  var pwcheck = $("#pwcheck").val();
          
                  if (pw === pwcheck) {
                      $("#pwsamechk").text("비밀번호가 일치합니다.");
                      $("#pwsamechk").css("color", "black");
                      pwdMatch = true;
                  } else {
                      $("#pwsamechk").text("비밀번호가 일치하지 않습니다.");
                      $("#pwsamechk").css("color", "red");
                      pwdMatch = false;
                  }
                  //checkSubmit();
                });

                function checkSubmit() {
                  if (idAvailable && nicknameAvailable && pwdMatch) {
                    // 모든 조건이 충족될 때만 회원가입 버튼 활성화
                    $("input[type=submit]").prop("disabled", false);
                  } else {
                    // 어떤 조건이라도 충족되지 않을 때 회원가입 버튼 비활성화
                    $("input[type=submit]").prop("disabled", true);
                  }
                }

                //회원가입 버튼 동작
                $("#memberJoinForm").submit(function (e) {
                  let nickname = $("#nickname").val();
                  let user_email = $("#user_email").val();
                    e.preventDefault(); // 폼 제출을 막음
                  console.log("회원가입  "+ dupclick);
                  if(dupclick == false && duplicationid !=user_email){
                    alert("아이디 중복 확인해주세요");
                          console.log("아이디 바꿈");
                          idAvailable = false;

                          return false;
                  }
                  if(duplicationNick != nickname){
                    alert("닉네임 중복 여부를 다시 확인해주세요");
                          console.log("닉넴 바꿈");
                          nicknameAvailable = false;

                          return false;
                  }

                    // // 회원가입 버튼을 누를 때 확인 메시지를 표시
                    if (idAvailable === false) {
                        alert("아이디 중복 여부를 확인해주세요");
                        console.log("아이디");
                        return false;
                    } else if (nicknameAvailable === false) {
                        alert("닉네임 중복 여부를 확인해주세요");
                        console.log("닉넴");
                        return false;
                    } else if (pwdMatch === false) {
                        alert("비밀번호 일치 여부를 확인해주세요");
                        console.log("비번");
                        return false;
                    } else if (idAvailable && nicknameAvailable && pwdMatch) {
                        // 모든 조건을 만족하는 경우에만 폼을 서브밋
                        console.log("---");
                        this.submit(); // 폼을 서브밋
                    }

                    
                });//end 회원가입 버튼


            </script>
        </div>

      <!-- body 위에 삽입되는 공통 부분 추가하는 코드 -->
      <div th:insert="~{include/footer.html}"></div>
    </body>
</html>
