<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <!-- 공통적으로 들어가는 부분 가져오는 코드 -->
    <head th:insert="~{include/head.html}"></head>

    <!-- 타이틀 수정 및 자기 html의 head에 추가한 것 추가하기 -->
    <title>회원가입</title>

    <link th:href="@{/css/sendPw.css}" rel="stylesheet" />
      

    </head>
    <body style="overflow: auto;">
        <!-- Navigation-->
        <nav th:insert="~{include/nav.html}"></nav>

        
        <div class="contentbox">
            <div id="backgroundbanner"></div>
            <div class="bodycontent" style="padding: 30px 50px; width: 820px;">
              <h2 class="titletext" >비밀번호 찾기</h2>
              <div class="result">
                <span >회원님의 이메일로 임시 비밀번호를 발급하였습니다. <br>
                  임시 비밀번호로 로그인하신 후, <br>
                  마이페이지의 회원정보 수정에서 비밀번호를 재설정해주시길 바랍니다.</span>
                
              </div>  
              <div>
              <button id="orangebtn" onclick="gologinform()">로그인</button>
              </div> 

            </div>
        </div>

        <script type="text/javascript"> 
          function gologinform(){            
            window.location.href = "loginform";
          }

        </script>

      <!-- body 위에 삽입되는 공통 부분 추가하는 코드 -->
      <div th:insert="~{include/footer.html}"></div>
    </body>
</html>
